**/CMakeFiles
**/cmake_install.cmake
Makefile
CMakeCache.txt
*.elf
*.map
docs/html
docs/man
tests/**/*.ld
*.swp
.clangd/
compile_commands.json
*.ld
*.bin
include/version.h
*.swo
**/flash_tool
comm_test
unit_comm_test
Testing/
build-*
test-*
buildinfo*
*.html
*.cache
.vscode
.project
nohup.out
